@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

button{
    cursor: pointer;
}

.active{
    border-bottom: 2px solid dodgerblue;
    color: dodgerblue;
    transition: 0.3s;
}
.main-task input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    color: red;
}